# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# sih-frontend

# dependencies
sih-frontend/node_modules
sih-frontend/**/.pnp
sih-frontend/.pnp.*
sih-frontend/.yarn/*
!sih-frontend/.yarn/patches
!sih-frontend/.yarn/plugins
!sih-frontend/.yarn/releases
!sih-frontend/.yarn/versions

# testing
sih-frontend/coverage

# next.js
sih-frontend/.next/
sih-frontend/out/

# production
sih-frontend/build

# misc
sih-frontend/.DS_Store
sih-frontend/*.pem

# debug
sih-frontend/npm-debug.log*
sih-frontend/yarn-debug.log*
sih-frontend/yarn-error.log*
sih-frontend/.pnpm-debug.log*

# env files
sih-frontend/.env*

# vercel
sih-frontend/.vercel

# typescript
sih-frontend/*.tsbuildinfo
# sih-frontend/next-env.d.ts
